.navHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  transition: all ease-out 0.3s;
}

.navWrapper {
  display: flex;
  max-height: calc(100vh - 6rem);
  padding: 2rem 4rem;
  overflow-y: auto;
}
.navWrapper ul {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
}
.navWrapper li {
  position: relative;
  margin-right: 3rem;
}
.navWrapper li a {
  display: block;
  padding: 1rem 0;
  font-size: 1.6em;
  line-height: 2rem;
  color: var(--color-text-secondary);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: color linear 0.1s;
}
.navClose {
  position: fixed;
  z-index: 350;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  display: none;
}
